.guide {
  font-family: "Oswald", "Arial", sans-serif;
  background: #ffffff;
  
  .guide__title {
    font-size: 36px;
    color: #111111;
    margin-bottom: 40px;
  }

  .guide__item {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .guide__item-text {
    font-size: 14px;
    line-height: 18px;
    color: #111111;
  }

}
